.translate-notion-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  img.translate-notion-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: brown;
    padding: 5px;
    border-radius: 3px;
  }
}
